/*this is for checkbox datalist*/
div.div {
    display:inherit;   
}

input.input {   
    width: 185px;
    border-style: solid;
    border-color: #FFDF00;
    border-width: 2px;
}
span.span{
    margin-left:08px;
    font-family:sans-serif;
}
fieldset.group {
    margin: -62px;
    padding: 0px;
    margin-bottom: 1.25em;
    padding: .125em;
    border-style: groove;
    border-color: #28c4f4;
    border-width: 2px;
    /*width: 250px;*/
    width: 215px;
    position: absolute;
    margin-top: 53px;
    background: #FFF;
    overflow: auto;
    height: 510px;
}

fieldset.group legend {
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-left: 05px;
    font-size: 100%;
    color: #293f50;
}

ul.checkbox {
    margin: 0;
    padding: 0;
    margin-left: 25px;
    list-style: none;
}

ul.checkbox li input {
    margin-right: .25em;
}

ul.checkbox li {
    border: 1px transparent solid;    
}

ul.checkbox li label {
    margin-left: 0px;
}

ul.checkbox li:hover,
ul.checkbox li.focus {
    /*background-color: lightyellow;*/
    background-color:lightsteelblue;
    border: 1px gray solid;
    /*width: 16em;
    max-width:10em;*/
    width: 10em;
}

.required {
    font-size: 75%;
    color: blue;
}

#clientid {
    width: 15%;
    display: inline-block;
    float: left;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    background-color: white;
    color: darkslategray;
    margin-top: -8px;
    height:30px;
}

#fname {
    margin-left: 10px;
    width: 30%;
    display: inline-block;
    float: left;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    background-color: white;
    color: darkslategray;
    margin-top: -8px;
    height: 30px;
}

#lname {
    margin-left: 10px;
    width: 30%;
    display: inline-block;
    float: left;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    background-color: white;
    color: darkslategray;
    margin-top: -8px;
    height: 30px;
}

#dob {
    margin-left: 10px;
    width: 15%;
    display: inline-block;
    float: left;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    background-color: white;
    color: darkslategray;
    margin-top: -8px;
    height: 30px;
}
/*this is for checkbox datalist*/

