/*this is for checkbox datalist*/
div.div {
    display:inherit;   
}

input.input {
    width: 195px;
    border-style: solid;
    border-color: #FFDF00;
    border-width: 2px;
}
span.span{
    margin-left:08px;
    font-family:sans-serif;
}
fieldset.group {
    margin: -5px;
    padding: 0px;
    margin-bottom: 1.25em;
    padding: .125em;
    border-style: groove;
    border-color: #28c4f4;
    border-width: 2px;
    /*width: auto;*/
    position: absolute;
    margin-top: 50px;
    background: #FFF;
    overflow: auto;
    height: 1280px;
    width: 225px;    
}

fieldset.group legend {
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-left: 05px;
    font-size: 100%;
    color: #293f50;
}

ul.checkbox {
    margin: 0;
    padding: 0;
    margin-left: 25px;
    list-style: none;
}

ul.checkbox li input {
    margin-right: .25em;
}

ul.checkbox li {
    border: 1px transparent solid;    
}

ul.checkbox li label {
    margin-left: 0px;
}

ul.checkbox li:hover,
ul.checkbox li.focus {
    background-color:lightsteelblue;
    border: 1px gray solid;
    width: 12em;
}

.required {
    font-size: 75%;
    color: blue;
}
/*this is for checkbox datalist*/

