
@import url('../assets/preloader/spinners.css');
@import url('../assets/preloader/pulse.css');

/* Mobile Phone Styles */
@media only screen and (min-width: 1px) and (max-width: 400px) {
    .lbltitle {
        font-size: 15px;
        font-weight: 700;
        margin-left: 20px;
        color: #f37946;
    }
    .entrybox {
        border-style: solid;
        border-color: #28c4f4;
        border-width: 2px;
        border-radius: 7px;
        height: 100%;
        max-height: 100%;
        width: auto;
        max-width: 100%;
        margin-left: 5px;
    }

    .div {
        width: auto;        
        margin-left:20px;
    }
    .addressstyle {
        width: 26%;
    }

    .lbltitlesection {
        color: darkslategray;
        font-weight: 600;
        font-size: 13px;
        width: auto;
    }
    .lbltitlesection2 {
        color: darkslategray;
        font-weight: 700;
        font-size: 10px;
        width: auto;
    }
    .form-control {
        max-width:80%;
    }

    input[type=search] {
        width: 285px;
        height: 30px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 22px;
        border-radius: 6px;
        border: 1px solid #bbb;
    }
    input[type=tel] {
        width: 285px;
        height: 28px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 22px;
        border-radius: 6px;
        border: 1px solid #bbb;
    }
    input[type=text] {
        width: 285px;
        height: 28px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 22px;
        border-radius: 6px;
        border: 1px solid #bbb;
    }
    input[type=date] {
        width: 285px;
        height: 28px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 22px;
        border-radius: 6px;
        border: 1px solid #bbb;
    }
    input[type=number] {
        width: 285px;
        height: 28px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 22px;
        border-radius: 6px;
        border: 1px solid #bbb;
    }
    input[type=email] {
        width: 285px;
        height: 28px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 22px;
        border-radius: 6px;
        border: 1px solid #bbb;
    }

    .reside1 {
        visibility: hidden;
        display: none;
    }
    .reside2 {
        visibility: visible;
    }

    .cell1 {
        visibility: hidden;
        display: none;
    }
    .cell2 {
        visibility: visible;
    }

    .hydroxyurea {
        visibility: hidden;
        display: none;
    }
    .hydroxyurea2 {        
        visibility: visible;
    }

    .curruse {
        visibility: hidden;
        display: none;
    }
    .curruse2 {        
        visibility: visible;
    }

    .copyright-area {       
        background-color: #F0F2F6;
        margin-top: 1150px;        
        margin-left: -35px;
        width: 30em;        
    }
    .copyright {
        margin-left: -60px;
        overflow:scroll;
    }

    .Tooltip {
        top: 50%;
        left: 50%;
        margin-top: -5em;
        margin-left: 2em;
        font-size: 12px;
        border-style: solid;
        border-width: 1px;
        border-color: silver;
        width: 120px;
        text-align: center;
        background-color: ghostwhite;
        visibility: hidden;
        border-radius: 3px;
        height: 24px;
        position: fixed;
    }
}

/* Tablet Styles1 */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    
}

/*this datalist for tablet*/
/* Tablet Styles2 */
@media only screen and (min-width: 601px) and (max-width: 960px) {
    
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .moduletitle {
        font-size: 18px;
        font-weight: 700;
        margin-left: 500px;
        color: #f37946;
    }
    .lbltitle {
        color: #f37946;
    }
    .entrybox {
        top: 50%;
        left: 50%;
        border-style: solid;
        border-color: #28c4f4;
        border-width: 2px;
        border-radius: 7px;
        position: absolute;
        height: 234%;
        max-height: 103em;
        width: 94em;
        max-width: 100%;
        /*margin-top:-18em;*/
        margin-top: -22em;
        margin-left: -47em;
        /*border-style: solid;
        border-color: #28c4f4;
        border-width: 3px;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 96em;
        max-width:100%;
        height: 40em;
        margin-top: -18em;
        margin-left: -48em;*/
    }    

    .div {
        width: 222px;
        margin-left: -2px;
    }
    .addressstyle {
        width:100%;
    }

    .form-control {
        max-width: 585px;
        height: 28px;
        font-size: 14px;        
    }

    .lbltitlesection {
        color: darkslategray;
        font-weight: 600;
        font-size: 14px;
        width: auto;
    }

    .lbltitlesection2 {
        color: darkslategray;
        font-weight: 600;
        font-size: 14px;
        width: auto;
    }

    input[type=search] {
        width: 560px;
        height: 30px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 22px;
        border-radius: 2px;
        border: 1px solid #bbb;
    }           

    .reside1 {        
        visibility: visible;
    }
    .reside2 {
        visibility: hidden;
        display: none;
    }

    .cell1 {
        visibility: visible;
    }
    .cell2 {
        visibility: hidden;
        display:none;
    }

    .hydroxyurea {
        visibility: visible;
    }
    .hydroxyurea2 {
        visibility: hidden;
        display: none;
    }

    .curruse {
        visibility: visible;
    }
    .curruse2 {
        visibility: hidden;
        display: none;
    }

    .searbox {
        visibility:hidden;
    }

    .copyright-area {
        background-color: #F0F2F6;
        /*margin-top: 1192px;*/
        margin-top: 1155px;
        top: 50%;
        left: 50%;
        margin-left: -47em;
        width: 94em;
        position: absolute;
    }

    .copyright {
        margin-left: 150px;
    }

    .swal-title {
        margin: 0px;
        font-size: 16px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
        margin-bottom: 28px;
    }

    .Tooltip {
        top: 50%;
        left: 50%;
        margin-top: -4em;
        margin-left: -46em;
        font-size: 12px;
        border-style: solid;
        border-width: 1px;
        border-color: silver;
        width: 170px;
        text-align: center;
        background-color: ghostwhite;
        visibility: hidden;
        border-radius: 3px;
        height: 22px;
        position: fixed;
    }

    /*________________Preloader_______________ */
    .preloader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 999999999999;
        background-color: rgba(255,255,255,1);
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('../Images/icon/preloader.gif');
        content:"Loading . . . . . .";
    }
}









