<!--e--> 
<link href="../../Content/styling.css" rel="stylesheet"/>
<!--<link href="../../Content/bootstrap.css" rel="stylesheet"/>-->
<link href="../../Content/multi.css" rel="stylesheet"/>
<script src="../../Scripts/jquery-3.3.1.js"></script>
<script src="../../Library/angular.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<section ng-app="app" class="col-md-12">        
    <br/>
    <br/>             
      <div ng-controller="viewController" class="container">
           <div class="col-md-12">                   
                     <div class="box">                            
			               <div class="content-wrap" style="margin-left:35px;margin-top:25px;">
			                     <h6 style="color:#f37946;font-size:17px;font-weight:700;">Change Password</h6>
			                			                                  
                                  <form action="" method="post" id="login">
                                     <div>
                                         <input class="form-control" type="password" placeholder="New Password" id="pwd" name="pwd" style="height:30px;" autocomplete="off">                                         			                             
	                                 </div>
                                     <div style="margin-top:5px;">
		                                <input type="checkbox" id="show-hide" name="show-hide" value="" />
		                                <label for="show-hide" style="color:#f37946; font-weight:700;">Show password</label>
	                                 </div>
	                                 <div>                                         
			                             <input class="form-control" type="password" placeholder="Confirm Password" id="confirmpass" name="confirmpass" style="height:30px;">
			                             <div class="action" ng-click="updatepassword()" style="margin-top:55px;margin-left:110px;">
                                              <a class="btn btn-primary signup" style="width:120px; background-color:#436280; color:white;">Update</a>
			                             </div>                                         
	                                 </div>
	                                 <div style="margin-top:-85px;">
		                                <input type="checkbox" id="show-hide2" name="show-hide2" value="" />
		                                <label for="show-hide" style="color:#f37946; font-weight:700;">Show confirm password</label>
	                                 </div>

                                  </form>
			               </div>                                                                                

                           <div style="position:fixed;top:50%;left:50%;width:38em;height:18em;margin-top:15em;margin-left:-14em; color:#f37946;font-weight:900; font-size:12px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                <p>&copy; @DateTime.Now.Year Primeshire Technologies All Rights Reserved<span style="margin-left:5px;color:darkslategrey;font-weight:900;font-family:Tahoma;">V 1.0.4</span></p>
                           </div>
			         </div>                                       
           </div>                                           			                      
      </div>
      <!--</div>  -->             
      <br />    
      <!--<script src="../../Scripts/globalvariable.js"></script>-->
      <script src="../../Scripts/login.js"></script>    
      <script src="../../Scripts/multi.js"></script>
</section>

