<!DOCTYPE html>
<html ng-app="myapp"> 
     <head>     
	    <meta charset="UTF-8">
	     <title ng-name="titles" ng-model="titles" id="titles">Main || Tempo Housing Modular Express</title>

	     <!-- responsive meta -->
	     <meta name="viewport" content="width=device-width, initial-scale=1">
     	 <!-- For IE -->
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
     	 <!-- master stylesheet -->
         <link rel="stylesheet" href="../../Content/styling-2.css">  
     	 <!-- Responsive stylesheet -->
       	 <link rel="stylesheet" href="../../Content/responsive.css">

         <link href="../../Content/font-awesome.min.css" rel="stylesheet" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

         <link href="../../Content/jquery.bxslider.css" rel="stylesheet" />
         <link href="../../Content/imp.css" rel="stylesheet" />
        
         <link href="../../Content/bootstrap.css" rel="stylesheet"/>
         <link href="../../Content/multi.css" rel="stylesheet"/>
         <script src="../../Scripts/jquery-3.3.1.js"></script>
         <script src="../../Library/angular.min.js"></script>            
     </head>

   <body>
      
       <div class="boxed_wrapper">
          <form role="form" onSubmit="return false;">
             <div class="col-md-10">
                <br />
                <span style="color:slategray;font-weight:600; margin-left:400px;">PATIENT ASSESSMENT/INTAKE</span> 
                <!--Start top bar area-->
                <section class="top-bar-area" style="background-color:#F0F2F6;height:30px; border-style:none;">
                         <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12" style="margin-top:-3px;">
                              <span style="color:darkslategray; font-weight:600;">PATIENT INFORMATION</span>                                   
                         </div>                        
                </section>
                <div style="height:5px;"></div>
                <section>
                   <div class="container" style="margin-left:-5px;">
                        <div class="row">
                              
                              <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                                                  
                                      <div class="row" style="width:1105px;">                                                    
                                                <div class="col-md-3" style="width:276px;">
                                                   <span style="color:slategray;font-weight:600;">Client ID:</span><br/>
                                                         <input id="clientid" ng-model="clientid" name="clientid" onKeyPress="if(this.value.length==5) return false;" type="number" tabindex="1" class="form-control" ng-keyup="clientidkeyup(event.keyCode)" style="max-width:366px;height:28px; font-size:14px;"/> 
                                                </div>  
                                                <div class="col-md-3"style="width:276px;">
                                                   <span style="color:slategray;font-weight:600;">Last Name:</span><br/>
                                                         <input id="lname" ng-model="lname" type="text" tabindex="3" class="form-control" placeholder="Last Name" ng-keyup="lnamekeyup(event.keyCode)" style="max-width:366px;height:28px; font-size:14px;"/>
                                                </div> 
                                                <div class="col-md-3"style="width:276px;">
                                                   <span style="color:slategray;font-weight:600;">First Name:</span><br/>
                                                         <input id="fname" ng-model="fname" name="fname" type="text" tabindex="2" class="form-control" placeholder="First Name" ng-keyup="fnamekeyup(event.keyCode)" style="max-width:366px;height:28px; font-size:14px;"/>
                                                </div>                         
                                                <div class="col-md-3"style="width:276px;">
                                                   <span style="color:slategray;font-weight:600;">Middle Initial:</span><br/>
                                                         <input id="moddle" ng-model="lname" type="text" tabindex="3" class="form-control" placeholder="Last Name" ng-keyup="lnamekeyup(event.keyCode)" style="max-width:366px;height:28px; font-size:14px;"/>
                                                </div> 
                                                   <span id="lblclientid" style="visibility:hidden"></span>
                                      </div>                                                  
                                      
                                      <div class="row" style="width:1105px;">
                                          <div style="height:15px;"></div>
                                          <div class="col-md-2" style="width:276px;">
                                               <span style="color:slategray;font-weight:600;">Unique ID:</span><br/>
                                               <input id="uniqueid" ng-model="uniqueid" type="text" tabindex="4" class="form-control" placeholder="Unique ID" ng-keyup="uniqueidkeyup(event.keyCode)" style="max-width:271px;height:28px; font-size:14px;"/> 
                                          </div>
                                          <div class="col-md-3" style="width:276px;">
                                               <span style="color:slategray;font-weight:600;">Date Of Birth:</span><br/>
                                               <input id="dob" ng-model="dob" type="date" tabindex="5" class="form-control" ng-keyup="dobkeyup(event.keyCode)" style="max-width:271px; height:28px; font-size:14px;"/> 
                                          </div>
                                          <div class="col-md-2" style="width:276px;">
                                               <span style="color:slategray;font-weight:600;">Age:</span><br/>
                                               <input id="age" ng-model="age" type="number" tabindex="6" class="form-control"ng-keyup="agekeyup(event.keyCode)" style="max-width:271px; height:28px; font-size:14px;"/> 
                                          </div>
                                          <div class="col-md-3" style="width:276px;">
                                               <span style="color:slategray;font-weight:600;">Age Group:</span><br/>                                                       
                                               <input id="agegroup" ng-model="agegroup" tabindex="7" class="form-control" ng-keyup="agegroupkeyup(event.keyCode)" style="max-width:271px; height:28px; font-size:14px;"/>
                                          </div>                                          
                                      </div>

                                      <div class="row" style="width:1105px;">                                                     
                                           <div style="height:15px;"></div>
                                           <div class="col-md-3" style="width:368px;">
                                               <span style="color:slategray;font-weight:600;">Age at Recruitment:</span><br/>
                                               <input id="ageat" ng-model="ageat" type="number" tabindex="6" class="form-control"ng-keyup="ageatkeyup(event.keyCode)" style="max-width:485px; height:28px; font-size:14px;"/> 
                                          </div>
                                           <div class="col-md-3" style="width:368px;">
                                               <span style="color:slategray;font-weight:600;">Gender:</span><br/>                            

                                               <select id="gender" ng-model="gender" tabindex="8" class="form-control" ng-keyup="genderkeyup(event.keyCode)" style="max-width:485px; height:28px; font-size:14px;">
                                                       <option value="Male">Male</option>
                                                       <option value="Female">Female</option>                                 
                                                       <option value="Female">Not sure</option>                                 
                                                       <option value="Female">Prefer not to answer</option>                                 
                                               </select>
                                           </div>   
                                           <div class="col-md-3" style="width:368px;">
                                               <span style="color:slategray;font-weight:600;">Race:</span><br/>                            

                                               <select id="race" ng-model="race" tabindex="8" class="form-control" ng-keyup="racekeyup(event.keyCode)" style="max-width:485px; height:28px; font-size:14px;">
                                                       <option value="American Indian / Alaska Native">American Indian / Alaska Native</option> 
                                                       <option value="Asian">Asian</option>
                                                       <option value="Black / African American">Black / African American</option> 
                                                       <option value="Hispanic / Latino">Hispanic / Latino</option> 
                                                       <option value="Native Hawaiian / Other Pacific Islander">Native Hawaiian / Other Pacific Islander</option> 
                                                       <option value="White">White</option>                                  
                                               </select>
                                           </div>                                               
                                      </div>

                                      <div class="row" style="width:1105px;">                                                     
                                           <div style="height:15px;"></div>                                           
                                           <div class="col-md-3" style="width:368px;">
                                               <span style="color:slategray;font-weight:600;">Ethnicity:</span><br/>
                            
                                               <select id="ethnicity" ng-model="ethnicity" type="text" tabindex="9" class="form-control" ng-keyup="ethnicitykeyup(event.keyCode)" style="max-width:485px; height:28px; font-size:14px;">
                                                       <option value="Hispanic / Latino Origin">Hispanic / Latino Origin</option>
                                                       <option value="Not Hispanic / Latino Origin">Not Hispanic / Latino Origin</option>
                                                       <option value="I don't know">I don't know</option> 
                                                       <option value="I prefer not to answer">I prefer not to answer</option>                                                             
                                               </select> 
                                           </div>              
                                           <div class="col-md-3"style="width:368px;">
                                               <span style="color:slategray;font-weight:600;">Eligibility:</span><br/>
                                               <input id="eligibility" ng-model="eligibility" type="text" tabindex="10" class="form-control" ng-keyup="eligibilitykeyup(event.keyCode)" placeholder="Eligibility" style="max-width:500px; height:28px; font-size:14px;"/>
                                           </div>         
                                           <div class="col-md-3"style="width:368px;">
                                               <span style="color:slategray;font-weight:600;">Social Security No:</span><br/>
                                               <input id="sssno" ng-model="sssno" type="text" tabindex="10" class="form-control" ng-keyup="eligibilitykeyup(event.keyCode)" placeholder="SSS No." style="max-width:500px; height:28px; font-size:14px;"/>
                                           </div>         
                                      </div>    

                              </div>
                        </div>
                   </div>
                </section>
                <div style="height:8px;"></div>
                <section style="background-color:#F0F2F6;height:30px; border-style:none;">
                         <div style="height:7px;"></div>
                         <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12" style="margin-top:-3px;">
                              <span style="color:darkslategray; font-weight:600;">ADDRESS AND TELEPHONE NUMBERS</span>                                   
                         </div>                        
                </section>
                <div style="height:5px;"></div>
                <section>
                       <div class="container" style="margin-left:-5px;">
                            <div class="row">

                                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">

                                   <div class="row" style="width:1105px;">                                                                        
                                        <div class="col-md-2" style="width:276px;">
                                             <span style="color:slategray;font-weight:600;">Country Code:</span><br/>
                                             <input id="countrycode" ng-model="countrycode" onclick="onclickzipcode()" min="0" type="text" tabindex="11" class="form-control" ng-keyup="countrycodekeyup(event.keyCode)" style="max-width:385px;height:28px; font-size:14px;"/> 
                                        </div>
                                        <div class="col-md-3" style="width:276px;">
                                             <span style="color:slategray;font-weight:600;">Country Code Description:</span><br/>
                                             <input id="countrycodedes" ng-model="countrycodedes" return false;" onclick="onclickzipcode()" type="text" tabindex="12" class="form-control" ng-keyup="countrycodedeskeyup(event.keyCode)" style="max-width:385px;height:28px; font-size:14px;"/> 
                                        </div>
                                        <div class="col-md-2" style="width:276px;">
                                             <span style="color:slategray;font-weight:600;">Cell Phone Number:</span><br/>                            
                                             <input id="phnumber" ng-model="phnumber" type="tel" tabindex="13" maxlength="12" placeholder="555-555-5555" class="form-control" ng-keyup="phnumberkeyup(event.keyCode)" style="max-width:285px;height:28px; font-size:14px;" onkeypress="telnokeypress(event)">
                                        </div>
                                        <div class="col-md-3" style="width:276px;">
                                             <span style="color:slategray;font-weight:600;">SickleECell Diagnosis</span><br/>
                                             <input id="sickdiag" ng-model="sickdiag" type="text" tabindex="14" class="form-control" ng-keyup="sickdiagkeyup(event.keyCode)" placeholder="" style="max-width:250px;height:28px; font-size:14px;"/> 
                                        </div>
                                   </div>

                                   <div class="row" style="width:1105px;">
                                        <div style="height:15px;"></div>
                                        <div class="col-md-12">
                                             <span style="color:slategray;font-weight:600;">CLIENT STREET ADDRESS:</span><br/>
                                             <input id="address"  ng-model="address" type="text" tabindex="15" class="form-control" ng-keyup="addresskeyup(event.keyCode)" placeholder="Address1" style="max-width:100%; height:30px;"/> 
                                             <div style="height:5px;"></div>
                                             <input id="address2" ng-model="address2" type="text" tabindex="16" class="form-control" ng-keyup="addresskeyup(event.keyCode)" placeholder="Address2" style="max-width:100%; height:30px;"/> 
                                        </div>
                                   </div>

                                   <div class="row" style="width:1105px;">
                                        <div style="height:15px;"></div>
                                        <div class="col-md-2" style="width:221px;">
                                             <span style="color:slategray;font-weight:600;">City:</span><br/>
                                             <input id="city" ng-model="city" type="text" tabindex="17" class="form-control" ng-keyup="citykeyup(event.keyCode)" placeholder="City" style="max-width:385px;height:30px;"/> 
                                        </div>
                                        <div class="col-md-2" style="width:221px;">
                                             <span style="color:slategray;font-weight:600;">State:</span><br/>
                                             <input id="state" ng-model="state" type="text" tabindex="18" class="form-control" ng-keyup="statekeyup(event.keyCode)" placeholder="TX" style="max-width:385px;height:30px;"/> 
                                        </div>
                                        <div class="col-md-2" style="width:221px;;">
                                             <span style="color:slategray;font-weight:600;">Zip Code:</span><br/>
                                             <input id="zipcode" ng-model="zipcode" onKeyPress="if(this.value.length==5) return false;" onclick="onclickzipcode()" min="0" type="number" tabindex="19" class="form-control" ng-keyup="zipcodekeyup(event.keyCode)" value="11111" style="max-width:385px;height:30px;"/> 
                                        </div>
                                        <div class="col-md-2" style="width:221px;">
                                             <span style="color:slategray;font-weight:600;">Home Phone:</span><br/>                            
                                             <input id="hphone" ng-model="pmppro" onclick="onclickzipcode()" min="0" type="tel" placeholder="555-555-5555" tabindex="20" class="form-control" ng-keyup="pmpprokeyup(event.keyCode)" style="max-width:366px;height:30px;"/>                             
                                        </div>
                                        <div class="col-md-2"style="width:221px;">
                                             <span style="color:slategray;font-weight:600;">Work Phone</span><br/>   
                                             <input id="wphone" ng-model="email" type="tel" placeholder="555-555-5555" tabindex="21" class="form-control" ng-keyup="emailkeyup(event.keyCode)" style="max-width:366px;height:30px;"/>                             
                                        </div>         
                                   </div>

                                   <div class="row" style="width:1105px;">
                                        <div style="height:15px;"></div>                                        
                                        <div class="col-md-2" style="width:221px;">
                                             <span style="color:slategray;font-weight:600;">PMP Provider Name:</span><br/>                            
                                             <input id="pmppro" ng-model="pmppro" onclick="onclickzipcode()" min="0" type="text" tabindex="20" class="form-control" ng-keyup="pmpprokeyup(event.keyCode)" style="max-width:366px;height:30px;"/>                             
                                        </div>
                                        <div class="col-md-2"style="width:221px;">
                                             <span style="color:slategray;font-weight:600;">Email Address:</span><br/>   
                                             <input id="email" ng-model="email" type="email" tabindex="21" class="form-control" ng-keyup="emailkeyup(event.keyCode)" placeholder="voicecontact@yahoo.com" style="max-width:366px;height:30px;"/>                             
                                        </div>         
                                        <div class="col-md-2"style="width:663px;">
                                             <span style="color:slategray;font-weight:600;">Client Resides in Rural or Underserved Area</span>  
                                             <div style="height:5px;"></div> 
                                             <input type="radio" value="Yes"/>   Yes    
                                             <input type="radio" value="No" style="margin-left:35px;"/> No    <span style="color:darkslategray; font-weight:600;">( To be completed in the office using the HRSA link )</span>
                                        </div>         
                                   </div>

                                </div> 

                            </div>
                       </div>
                </section>
                <div style="height:8px;"></div>
                <section style="background-color:#F0F2F6;height:30px; border-style:none;">
                         <div style="height:7px;"></div>
                         <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12" style="margin-top:-3px;">
                              <span style="color:darkslategray; font-weight:600;">COMPLETE IF UNDER 18 AT LIVE OF ENROLLMENT</span>                                   
                         </div>                        
                </section>
                <div style="height:5px;"></div>
                <section>
                       <div class="container" style="margin-left:-5px;">
                            <div class="row">
                                 <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                                      <div class="row" style="width:1105px;">                                                     
                                          <div class="col-md-3" style="width:298px;">
                                               <span style="color:slategray;font-weight:600;">Name Of Mother:</span><br/>
                                               <input id="nameofmother" ng-model="nameofmother" type="text" tabindex="6" class="form-control"ng-keyup="nameofmotherkeyup(event.keyCode)" style="max-width:485px; height:28px; font-size:14px;"/> 
                                          </div>
                                           <div class="col-md-4" style="width:588px;">
                                               <span style="color:slategray;font-weight:600;">Address:</span><br/>                            

                                               <input id="motheraddress" ng-model="motheraddress" tabindex="8" class="form-control" ng-keyup="motheraddresskeyup(event.keyCode)" style="max-width:585px; height:28px; font-size:14px;"/>
                                               
                                           </div>   
                                           <div class="col-md-3" style="width:218px;">
                                               <span style="color:slategray;font-weight:600;">Telephone:</span><br/>                            

                                               <input id="mothertel" ng-model="mothertel" tabindex="8" type="tel" class="form-control" ng-keyup="mothertelkeyup(event.keyCode)" placeholder="555-555-5555" style="max-width:485px; height:28px; font-size:14px;"/>
                                               
                                           </div>                                               
                                      </div>

                                      <div class="row" style="width:1105px;">                                                     
                                          <div style="height:15px;"></div>
                                          <div class="col-md-3" style="width:298px;">
                                               <span style="color:slategray;font-weight:600;">Name Of Father:</span><br/>
                                               <input id="nameoffather" ng-model="nameoffather" type="text" tabindex="6" class="form-control"ng-keyup="nameoffatherkeyup(event.keyCode)" style="max-width:485px; height:28px; font-size:14px;"/> 
                                          </div>
                                           <div class="col-md-4" style="width:588px;">
                                               <span style="color:slategray;font-weight:600;">Address:</span><br/>                            

                                               <input id="fatheraddress" ng-model="fatheraddress" tabindex="8" class="form-control" ng-keyup="fatheraddresskeyup(event.keyCode)" style="max-width:585px; height:28px; font-size:14px;"/>
                                               
                                           </div>   
                                           <div class="col-md-3" style="width:218px;">
                                               <span style="color:slategray;font-weight:600;">Telephone:</span><br/>                            

                                               <input id="fathertel" ng-model="fathertel" tabindex="8" type="tel" class="form-control" ng-keyup="fathertelkeyup(event.keyCode)" placeholder="555-555-5555" style="max-width:485px; height:28px; font-size:14px;"/>
                                               
                                           </div>                                               
                                      </div>

                                      <div class="row" style="width:1105px;">                                                     
                                          <div style="height:15px;"></div>
                                          <div class="col-md-3" style="width:298px;">
                                               <span style="color:slategray;font-weight:600;">Name Of Guardian:</span><br/>
                                               <input id="nameofguardian" ng-model="nameofguardian" type="text" tabindex="6" class="form-control"ng-keyup="nameofguardiankeyup(event.keyCode)" style="max-width:485px; height:28px; font-size:14px;"/> 
                                          </div>
                                           <div class="col-md-4" style="width:588px;">
                                               <span style="color:slategray;font-weight:600;">Address:</span><br/>                            

                                               <input id="guardianaddress" ng-model="guardianaddress" tabindex="8" class="form-control" ng-keyup="guardianaddresskeyup(event.keyCode)" style="max-width:585px; height:28px; font-size:14px;"/>
                                               
                                           </div>   
                                           <div class="col-md-3" style="width:218px;">
                                               <span style="color:slategray;font-weight:600;">Telephone:</span><br/>                            

                                               <input id="guardiantel" ng-model="guardiantel" tabindex="8" type="tel" class="form-control" ng-keyup="guardiantelkeyup(event.keyCode)" placeholder="555-555-5555" style="max-width:485px; height:28px; font-size:14px;"/>
                                               
                                           </div>                                               
                                      </div>

                                      <div class="row" style="width:1105px;">                                                     
                                          <div style="height:15px;"></div>
                                          <div class="col-md-3" style="width:298px;">
                                               <span style="color:slategray;font-weight:600;">Emergency Contact 1:</span><br/>
                                               <input id="emercont1" ng-model="emercont1" type="text" tabindex="6" class="form-control"ng-keyup="emercont1keyup(event.keyCode)" style="max-width:485px; height:28px; font-size:14px;"/> 
                                          </div>
                                           <div class="col-md-4" style="width:588px;">
                                               <span style="color:slategray;font-weight:600;">Home Phone:</span><br/>                            

                                               <input id="emercont1homephone" ng-model="emercont1homephone" tabindex="8" type="tel" class="form-control" ng-keyup="emercont1homephonekeyup(event.keyCode)" placeholder="555-555-5555" style="max-width:585px; height:28px; font-size:14px;"/>
                                               
                                           </div>   
                                           <div class="col-md-3" style="width:218px;">
                                               <span style="color:slategray;font-weight:600;">Cell Phone:</span><br/>                            

                                               <input id="emercont1cellphone" ng-model="emercont1cellphone" tabindex="8" type="tel" class="form-control" ng-keyup="emercont1cellphonekeyup(event.keyCode)" placeholder="555-555-5555" style="max-width:485px; height:28px; font-size:14px;"/>
                                               
                                           </div>                                               
                                      </div>

                                      <div class="row" style="width:1105px;">                                                     
                                          <div style="height:15px;"></div>
                                          <div class="col-md-3" style="width:298px;">
                                               <span style="color:slategray;font-weight:600;">Emergency Contact 2:</span><br/>
                                               <input id="emercont2" ng-model="emercont2" type="text" tabindex="6" class="form-control"ng-keyup="emercont2keyup(event.keyCode)" style="max-width:485px; height:28px; font-size:14px;"/> 
                                          </div>
                                           <div class="col-md-4" style="width:588px;">
                                               <span style="color:slategray;font-weight:600;">Home Phone:</span><br/>                            

                                               <input id="emercont2homephone" ng-model="emercont2homephone" tabindex="8" type="tel" class="form-control" ng-keyup="emercont2homephonekeyup(event.keyCode)" placeholder="555-555-5555" style="max-width:585px; height:28px; font-size:14px;"/>
                                               
                                           </div>   
                                           <div class="col-md-3" style="width:218px;">
                                               <span style="color:slategray;font-weight:600;">Cell Phone:</span><br/>                            

                                               <input id="emercont2cellphone" ng-model="emercont2cellphone" tabindex="8" type="tel" class="form-control" ng-keyup="emercont2cellphonekeyup(event.keyCode)" placeholder="555-555-5555" style="max-width:485px; height:28px; font-size:14px;"/>
                                               
                                           </div>                                               
                                      </div>

                                 </div>
                            </div>
                       </div>
                </section>
                <div style="height:8px;"></div>
                <section style="background-color:#F0F2F6;height:30px; border-style:none;">
                         <div style="height:7px;"></div>
                         <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12" style="margin-top:-3px;">
                              <span style="color:darkslategray; font-weight:600;">HEALTH INFORMATION</span>                                   
                         </div>                        
                </section>
                <div style="height:5px;"></div>
                <section>
                         <div class="container" style="margin-left:-5px;">
                              <div class="row">
                                 <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                                    <div class="row" style="width:1105px;">                                                                             
                                        
                                        <div class="col-md-10"style="width:1105px;">
                                            <div id="celltype">
                                                  <span style="color:slategray;font-weight:600;">Sickle Cell Type: ( Please mark )</span>  
                                                  <div style="height:5px;"></div> 
                                                  <input type="radio" value="SS"/>   SS    
                                                  <input type="radio" value="SC" style="margin-left:52px;"/> SC    
                                                  <input type="radio" value="SBThal+" style="margin-left:51px;"/> SBThal+
                                                  <input type="radio" value="SBThal0" style="margin-left:51px;"/> SBThal0
                                                  <input type="radio" value="Not Sure What Type" style="margin-left:51px;"/> Not Sure What Type
                                                  <input type="radio" value="Other" style="margin-left:51px;"/> Other 
                                                  <span>Please Specify     <input type="text" style="width:283px; height:28px; font-size:14px;margin-left:2px; border-top-color:white;border-right-color:white;border-left-color:white; border-style:solid; border-width:1px;"/></span>
                                            </div>                                             
                                        </div>         

                                        <div class="col-md-10"style="width:1105px;">                                            
                                                  <div style="height:20px;"></div>
                                                  <span style="color:slategray;font-weight:600;">Have you ever heard of Hydroxyurea?</span>                                                   
                                                  <span style="color:slategray;font-weight:600; margin-left:215px;">Have you ever taken Hydroxyurea before?</span>  
                                                  <div style="height:5px;"></div> 

                                                  <input type="radio" value="Yes"/> Yes    
                                                  <input type="radio" value="No" style="margin-left:15px;"/> No                                                 
                                                  <span style="color:darkslategray; font-weight:600;">( if "No" is selected skip to V21 on page3  )</span>                                                                                                                                                                                       

                                                  
                                                  <input type="radio" value="Yes" style="margin-left:92px;"/> Yes    
                                                  <input type="radio" value="No" style="margin-left:15px;"/> No                                                                                                                                   
                                        </div>         

                                        <div class="col-md-10"style="width:1105px;">                                            
                                                  <div style="height:20px;"></div>
                                                  <span style="color:slategray;font-weight:600;">Do you currently use Hydroxyurea?</span>                                                   
                                                  <span style="color:slategray;font-weight:600; margin-left:300px;">What is the dosage of your Hydroxyurea prescription?</span>  
                                                  <div style="height:5px;"></div> 

                                                  <input type="radio" value="Yes"/>   Yes    
                                                  <input type="radio" value="No" style="margin-left:15px;"/> No 
                                            
                                                  <span style="color:darkslategray; font-weight:600; margin-left:20px;"> If No: Have you taken it in the past?</span>                                                                                                                                                                                                                                         
                                                  <input type="radio" value="Yes" style="margin-left:3px;"/> Yes    
                                                  <input type="radio" value="No" style="margin-left:4px;"/> No                                                                                                                                   


                                                  <input type="text" style="margin-left:93px; width:225px; border-top-color:white;border-right-color:white;border-left-color:white; border-style:solid; border-width:1px;"/>, 
                                                  <span>Unknown<input type="text" style="margin-left:5px; width:222px; border-top-color:white;border-right-color:white;border-left-color:white; border-style:solid; border-width:1px;"/></span>

                                                  <div style="height:15px;"></div> 
                                                  <span style="color:darkslategray; font-weight:600; margin-left:0px;"> If unknown, what are the colors of your Hydroxyurea capsules?</span>                                                                                                                                                                                                                                         
                                                  <input type="text" style="margin-left:3px; border-top-color:white;border-right-color:white;border-left-color:white; border-style:solid; border-width:1px;"/> 
                                                  <span style="color:darkslategray;">Date last taken?<input type="date" style="margin-left:4px; border-top-color:white;border-right-color:white;border-left-color:white; border-style:solid; border-width:1px;"/></span>                                                                                                                          

                                                  <div style="height:15px;"></div> 
                                                  <span style="color:darkslategray; font-weight:600; margin-left:0px;"> What was the last date you picked up / received your Hydroxyurea prescription from the pharmacy? <input type="date" style="margin-left:4px; border-top-color:white;border-right-color:white;border-left-color:white; border-style:solid; border-width:1px;"/></span>                                                                                                                                                                                                                                         
                                        </div>         
                                                                                          
                                    </div>
                                 </div>
                              </div>
                              <br />
                         </div>
                </section>
                <!--</section>-->
                <!--End top bar area-->
                <!--Start header area-->
               <!-- <section class="header-area" style="background-color:slategray">
                    <div class="container">
                         <div class="row">
                             <div class="col-xs-3 col-md-3" style="margin-left:80px; background-repeat:no-repeat;background-size:contain;font-size: 1.3vw;"></div>                        
                             <div class="col-xs-3 col-md-3" style="background-repeat:no-repeat;background-size:contain;font-size: 1.3vw;"></div>
                             <div class="col-xs-3 col-md-3"></div>
                         </div>
                    </div>
                </section>-->
                <!--End header area-->
             
                <!--Start rev slider wrapper-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <!--Start welcome area-->
                           <section class="welcome-area" id="second-section">
                                <div class="container">
                             
                                </div>
                           </section>
                       </div>
                <!--this is for the first content-->
                 
                </div>           
                <!--Start solution area-->
                <section class="solution-area" style="padding:0px;" id="third-section">
                      <div class="container">
                    
                      </div>
                
                </section>
                <!--End solution area-->
                <!--Start about industry area-->
                <section class="about-industry-area" id="fourth-section">
                      <div class="container">
                    
                     </div>
                </section>
            
                <!--Start footer area-->
                <footer class="footer-area" style="padding:0px;background-color:#17264f">
                     <div class="container">
                  
                     </div>
                     <div class="container" style="margin-top:-10px;">
                    
                     </div>
                </footer>
                <!--End footer area-->
                       
           
             </div>
          </form>
       </div>             
  
       <!--Start copyright area-->
                <section class="copyright-area" style="background-color:slategray;">
                     <div class="container">
                         <div class="row">                        
                             <div class="col-md-6 col-sm-12">
                                 <div class="copyright">
                                     <p style="color:white;">&copy; @DateTime.Now.Year Primeshire Technologies All Rights Reserved V 1 0 1</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                </section>
                <!--End copyright area-->
                <!--Scroll to top-->
                <div class="scroll-to-top scroll-to-target" data-target="cshtml" id="trigger"><span class="fa fa-angle-up"></span></div>     


   </body>
</html>