<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>sicklecell.primeshiretechnologies.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://primeshiretech-001-site1.htempurl.com:8172/MsDeploy.axd?site=primeshiretech-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>primeshiretech-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>primeshiretech-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SickeCellConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5042.site4now.net;Initial Catalog=DB_A4EB57_SickleCell;User ID=DB_A4EB57_SickleCell_admin;Password=SickleCell2019" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-L2ENQ87;Initial Catalog=SickeCell;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SickeCellConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DESKTOP-L2ENQ87;Database=SickeCell; Integrated Security ='true' " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SickeCellEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5042.site4now.net;Initial Catalog=DB_A4EB57_SickleCell;User ID=DB_A4EB57_SickleCell_admin;Password=SickleCell2019" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SickeCell.SickeCellEntities1, SickeCell" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SickeCellEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/SickleCell.csdl|res://*/SickleCell.ssdl|res://*/SickleCell.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5042.site4now.net;Initial Catalog=DB_A4EB57_SickleCell;User ID=DB_A4EB57_SickleCell_admin;Password=SickleCell2019"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SickeCellConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5042.site4now.net;Initial Catalog=DB_A4EB57_SickleCell;User ID=DB_A4EB57_SickleCell_admin;Password=SickleCell2019</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>