<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/225e6e36-3a86-4def-b4e5-d9c2b3439320/resourceGroups/SickleCell-RG-Test/providers/Microsoft.Web/sites/SickleCell</ResourceId>
    <ResourceGroup>SickleCell-RG-Test</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sicklecell.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sicklecell.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SickleCell</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SickleCell</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SickeCellEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:primeshirellc.database.windows.net,1433;Initial Catalog=DB_A4EB57_SickleCell;User ID=primeshire;Password=Development2020!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SickeCell.SickeCellEntities1, SickeCell" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SickeCellConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:primeshirellc.database.windows.net,1433;Initial Catalog=DB_A4EB57_SickleCell;Persist Security Info=False;User ID=primeshire;Password=Development2020!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:primeshirellc.database.windows.net,1433;Initial Catalog=DB_A4EB57_SickleCell;Persist Security Info=False;User ID=primeshire;Password=Development2020!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SickeCellConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:primeshirellc.database.windows.net,1433;Initial Catalog=DB_A4EB57_SickleCell;Persist Security Info=False;User ID=primeshire;Password=Development2020!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SickeCellConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:primeshirellc.database.windows.net,1433;initial catalog=DB_A4EB57_SickleCell;persist security info=False;user id=primeshire;password=Development2020!;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SickeCellEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/SickleCell.csdl|res://*/SickleCell.ssdl|res://*/SickleCell.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:primeshirellc.database.windows.net,1433;Initial Catalog=DB_A4EB57_SickleCell;User ID=primeshire;Password=Development2020!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>